# GitHub Configuration
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_REPO_OWNER=Amith-Ganta
GITHUB_REPO_NAME=FastAPI-ML-Docker-AWS

# Docker Hub Configuration
DOCKER_USERNAME=your_docker_username
DOCKER_TOKEN=dckr_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# AWS Configuration
AWS_IP=44.205.0.187
AWS_KEY_PATH=/path/to/aws-fast-api.pem

# Project Configuration
PROJECT_PATH=/path/to/fastapi-demo-api
